<header class="header">
    <!--
    <div class="navigation-trigger" data-sa-action="aside-open" data-sa-target=".sidebar">
        <i class="zwicon-hamburger-menu"></i>
    </div>
    -->


    <div class="logo d-none d-sm-inline-flex">
        <a href="/">Commercial Invoice 1.0</a>
    </div>

    <form class="search">
        <div class="search__inner">
            <input type="text" class="search__text" placeholder="Search for people, files, documents...">
            <i class="zwicon-search search__helper"></i>
            <i class="zwicon-arrow-left search__reset" data-sa-action="search-close"></i>
        </div>
    </form>

    <ul class="top-nav">
        <li class="d-xl-none"><a href="" data-sa-action="search-open"><i class="zwicon-search"></i></a></li>

        <li class="dropdown">
            <a href="" data-toggle="dropdown" class="top-nav__notify"><i class="zwicon-mail"></i></a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu--block">
                <div class="dropdown-header">
                    Messages

                    <div class="actions">
                        <a href="messages.html" class="actions__item zwicon-plus"></a>
                    </div>
                </div>

                <div class="listview listview--hover">
                    <a href="" class="listview__item">
                        <img src="demo/img/profile-pics/1.jpg" class="avatar-img" alt="">

                        <div class="listview__content">
                            <div class="listview__heading">
                                David Belle <small>12:01 PM</small>
                            </div>
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                        </div>
                    </a>

                    <a href="" class="listview__item">
                        <img src="demo/img/profile-pics/2.jpg" class="avatar-img" alt="">

                        <div class="listview__content">
                            <div class="listview__heading">
                                Jonathan Morris
                                <small>02:45 PM</small>
                            </div>
                            <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                        </div>
                    </a>

                    <a href="" class="listview__item">
                        <img src="demo/img/profile-pics/3.jpg" class="avatar-img" alt="">

                        <div class="listview__content">
                            <div class="listview__heading">
                                Fredric Mitchell Jr.
                                <small>08:21 PM</small>
                            </div>
                            <p>Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</p>
                        </div>
                    </a>

                    <a href="" class="listview__item">
                        <img src="demo/img/profile-pics/4.jpg" class="avatar-img" alt="">

                        <div class="listview__content">
                            <div class="listview__heading">
                                Glenn Jecobs
                                <small>08:43 PM</small>
                            </div>
                            <p>Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</p>
                        </div>
                    </a>

                    <a href="" class="listview__item">
                        <img src="demo/img/profile-pics/5.jpg" class="avatar-img" alt="">

                        <div class="listview__content">
                            <div class="listview__heading">
                                Bill Phillips
                                <small>11:32 PM</small>
                            </div>
                            <p>Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</p>
                        </div>
                    </a>

                    <a href="" class="view-more">View all messages</a>
                </div>
            </div>
        </li>

        <li class="dropdown top-nav__notifications">
            <a href="" data-toggle="dropdown" class="top-nav__notify">
                <i class="zwicon-bell"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu--block">
                <div class="dropdown-header">
                    Notifications

                    <div class="actions">
                        <a href="" class="actions__item zwicon-checkmark-square" data-sa-action="notifications-clear"></a>
                    </div>
                </div>

                <div class="listview listview--hover">
                    <div class="listview__scroll scrollbar">
                        <a href="" class="listview__item">
                            <img src="demo/img/profile-pics/1.jpg" class="avatar-img" alt="">

                            <div class="listview__content">
                                <div class="listview__heading">David Belle</div>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                            </div>
                        </a>

                        <a href="" class="listview__item">
                            <img src="demo/img/profile-pics/2.jpg" class="avatar-img" alt="">

                            <div class="listview__content">
                                <div class="listview__heading">Jonathan Morris</div>
                                <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                            </div>
                        </a>

                        <a href="" class="listview__item">
                            <img src="demo/img/profile-pics/3.jpg" class="avatar-img" alt="">

                            <div class="listview__content">
                                <div class="listview__heading">Fredric Mitchell Jr.</div>
                                <p>Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</p>
                            </div>
                        </a>

                        <a href="" class="listview__item">
                            <img src="demo/img/profile-pics/4.jpg" class="avatar-img" alt="">

                            <div class="listview__content">
                                <div class="listview__heading">Glenn Jecobs</div>
                                <p>Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</p>
                            </div>
                        </a>

                        <a href="" class="listview__item">
                            <img src="demo/img/profile-pics/5.jpg" class="avatar-img" alt="">

                            <div class="listview__content">
                                <div class="listview__heading">Bill Phillips</div>
                                <p>Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</p>
                            </div>
                        </a>

                        <a href="" class="listview__item">
                            <img src="demo/img/profile-pics/1.jpg" class="avatar-img" alt="">

                            <div class="listview__content">
                                <div class="listview__heading">David Belle</div>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                            </div>
                        </a>

                        <a href="" class="listview__item">
                            <img src="demo/img/profile-pics/2.jpg" class="avatar-img" alt="">

                            <div class="listview__content">
                                <div class="listview__heading">Jonathan Morris</div>
                                <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                            </div>
                        </a>

                        <a href="" class="listview__item">
                            <img src="demo/img/profile-pics/3.jpg" class="avatar-img" alt="">

                            <div class="listview__content">
                                <div class="listview__heading">Fredric Mitchell Jr.</div>
                                <p>Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</p>
                            </div>
                        </a>
                    </div>

                    <div class="p-1"></div>
                </div>
            </div>
        </li>

        <li class="dropdown d-none d-sm-inline-block">
            <a href="" data-toggle="dropdown"><i class="zwicon-checkmark-circle"></i></a>

            <div class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
                <div class="dropdown-header">Tasks</div>

                <div class="listview listview--hover">
                    <a href="" class="listview__item">
                        <div class="listview__content">
                            <div class="listview__heading">HTML5 Validation Report</div>

                            <div class="progress mt-1">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </a>

                    <a href="" class="listview__item">
                        <div class="listview__content">
                            <div class="listview__heading">Google Chrome Extension</div>

                            <div class="progress mt-1">
                                <div class="progress-bar bg-warning" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </a>

                    <a href="" class="listview__item">
                        <div class="listview__content">
                            <div class="listview__heading">Social Intranet Projects</div>

                            <div class="progress mt-1">
                                <div class="progress-bar bg-success" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </a>

                    <a href="" class="listview__item">
                        <div class="listview__content">
                            <div class="listview__heading">Bootstrap Admin Template</div>

                            <div class="progress mt-1">
                                <div class="progress-bar bg-info" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </a>

                    <a href="" class="listview__item">
                        <div class="listview__content">
                            <div class="listview__heading">Youtube Client App</div>

                            <div class="progress mt-1">
                                <div class="progress-bar bg-danger" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </a>

                    <a href="" class="view-more">View all Tasks</a>
                </div>
            </div>
        </li>

        <li class="dropdown d-none d-sm-inline-block">
            <a href="" data-toggle="dropdown"><i class="zwicon-grid"></i></a>

            <div class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
                <div class="row app-shortcuts">
                    <a class="col-4 app-shortcuts__item" href="">
                        <i class="zwicon-calendar-never"></i>
                        <small class="">Calendar</small>
                    </a>
                    <a class="col-4 app-shortcuts__item" href="">
                        <i class="zwicon-document"></i>
                        <small class="">Files</small>
                    </a>
                    <a class="col-4 app-shortcuts__item" href="">
                        <i class="zwicon-mail"></i>
                        <small class="">Email</small>
                    </a>
                    <a class="col-4 app-shortcuts__item" href="">
                        <i class="zwicon-line-chart"></i>
                        <small class="">Reports</small>
                    </a>
                    <a class="col-4 app-shortcuts__item" href="">
                        <i class="zwicon-broadcast"></i>
                        <small class="">News</small>
                    </a>
                    <a class="col-4 app-shortcuts__item" href="">
                        <i class="zwicon-image"></i>
                        <small class="">Gallery</small>
                    </a>
                </div>
            </div>
        </li>

        <li class="dropdown d-none d-sm-inline-block">
            <a href="" data-toggle="dropdown"><i class="zwicon-more-h"></i></a>

            <div class="dropdown-menu dropdown-menu-right">
                <a href="" class="dropdown-item" data-sa-action="fullscreen">Fullscreen</a>
                <a href="" class="dropdown-item">Clear Local Storage</a>
                <a href="" class="dropdown-item">Settings</a>
            </div>
        </li>

        <li class="d-none d-sm-inline-block">
            <a href="" class="top-nav__themes" data-sa-action="aside-open" data-sa-target=".themes"><i class="zwicon-palette"></i></a>
        </li>
    </ul>

    <div class="clock d-none d-md-inline-block">
        <div class="time">
            <span class="time__hours"></span>
            <span class="time__min"></span>
            <span class="time__sec"></span>
        </div>
    </div>
</header>